/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';

* {
  background-color: $other-background;
  // border: 1px solid red;
  font-family: 'Manjari', sans-serif;
  margin: 0;
}

main {
  color: $main-font;
  height: 100vh;
  width: 100%;
}

.tabs {
  max-width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 60%
}

.tabs-nav li {
  width: 50%;
}

.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}

.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}

a {
  background: $tabs;
  border: 1px solid #cecfd5;
  color: $main-font;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

a:hover {
  // color: #ff7b29;
}

.current a {
  background: $other-background;
  border-bottom-color: transparent;
  // color: #2db34a;
  cursor: default;
}

.tabs-nav {
  border: 1px solid #cecfd5;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  padding: 24px 30px;
}