/* This is an example of using Sass, otherwise plain CSS works too*/
@import "variables";

* {
  // border: 1px solid red;
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
  margin: 0;
}

body {
  background-color: $background;
  height: 93vh;
}

h1 {
  color: $main-font;
  font-size: 250%;
  margin-left: 2%;
  margin-top: 1.5%;
}

main {
  color: $main-font;
  width: 100%;
}

.tabs {
  max-width: 100%;
}

ul {
  display: flex;
  list-style: none;
  width: 80%;
}

.tabs-nav li {
  width: 50%;
}

.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}

.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}

a {
  background: $other-background;
  border: 1px solid #cecfd5;
  color: $main-font;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: $a;
}

.current a {
  background: $tabs;
  border-bottom-color: transparent;
  // color: ;
  cursor: default;
}

#main-tab,
#customers-tab,
#orders-tab,
#bookings-tab {
  align-content: center;
  display: flex;
  height: 88vh;
  justify-content: center;
  padding: 1% 1%;
}

.left-main-container,
.center-main-container,
.right-main-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  padding: 1% 1%;
  width: 33%;
}

.right-main-container {
  width: 25%;
}

.container {
  background-color: $background;
  border: 2px solid $other-background;
  height: 16em;
  overflow: scroll;
  padding: 2% 2%;
}

.today-date,
.daily-revenue,
.rooms-available {
  height: 6em;
}

#today {
  font-size: 1.5em;
}

#daily-bookings {
  overflow-wrap: break-word;
}
.all-tabs {
  background-color: $tabs;
}

.customer-search,
.customer-search-button {
  height: 2.5em;
}

.hidden {
  display: none;
}

span {
  display: block;
}

.bookings-container {
  background-color: $background;
  border: 2px solid $other-background;
  height: 16em;
  overflow: scroll;
  padding: 2% 2%;
  width: 23%;
}

#available-rooms-date-container {
  height: 85vh;
}