/* This is an example of using Sass, otherwise plain CSS works too*/
@import "variables";

* {
  border: 1px solid red;
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
  margin: 0;
}

body {
  background-color: $other-background;
}

h1 {
  color: $main-font;
  margin-top: 1.5%;
}

main {
  color: $main-font;
  height: 100vh;
  width: 100%;
}

.tabs {
  max-width: 100%;
}

ul {
  display: flex;
  list-style: none;
  width: 80%;
}

.tabs-nav li {
  width: 50%;
}

.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}

.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}

a {
  background: $tabs;
  border: 1px solid #cecfd5;
  color: $main-font;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

a:hover {
  // color: #ff7b29;
}

.current a {
  background: $other-background;
  border-bottom-color: transparent;
  // color: #2db34a;
  cursor: default;
}

#main-tab {
  align-content: center;
  display: flex;
  height: 85vh;
  justify-content: center;
}

.left-main-container,
.center-main-container,
.right-main-container {
  height: 85vh;
  width: 33%;
}

.container {
  height: 16em;
}

.today-date {
  height: 8em;
}
